#services{
    margin: 34px;
}

#services .box{ 
    border: 2px solid rgb(16, 219, 16);
    padding: 54px;
    margin: 2px 55px;
    border-radius: 28px;
    background: rgba(124, 87, 147, 0.959);
    margin-bottom: 20px;
    height: 400px;
    font-size: 25px;
}

#services .box img{ 
    height: 400px;
    margin: auto;
}

.h-primary{
    
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(14, 225, 32);
}

.h-secondary
{
    align-content: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
    padding-top: 10px;
    color: rgb(52, 214, 30);
    text-align: center;
}

.h-ternary{
    color: rgb(252, 249, 249);
}

.container{
    background-color: rgb(83, 101, 101);
    border-radius: 28px;
    border: 2px solid rebeccapurple;
    padding: 40px 34px;
    margin: 0px 75px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    color: rgb(13, 11, 11);
  }